@import './_const.styl';

initSize() {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  @media (max-width: 1440px) {
    width: 976px;
  }
  @media (max-width: 1378px) {
    width: 900px;
  }
  @media (max-width: 1200px) {
    width: 800px;
  }
  @media (max-width: 1024px) {
    width: 650px;
  }
  @media (max-width: 900px) {
    width: 550px;
  }
  @media (max-width: 767px) {
    width: 94%;
  }
}

// 在某元素前绘制圆点
solidDot(color=black, w=8px, h=w) {
  display flex;
  align-items center;
  &:before {
    content '';
    display inline-block;
    width w;
    height h;
    border-radius 50%;
    background-color color;
  }
}

transitionBeforeBig(s=1.05) {
  &:before {
    transform: scale(1);
    transition: all .45s ease-in-out;
  }

  &:hover:before {
    color: main-color;
    transform: scale(s);
    transition: all .45s ease-out;
  }
}

afterLine(w = 100%, mt = 8px) {
  &::after {
    content: "";
    display: block;
    width: w;
    height: 4px;
    background-color: main-color;
    margin-top: mt;
  }
}
