@import './_const.styl';

animated() {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.infinite {
  animation-iteration-count: infinite;
}

// 心跳动画(有规律的连续放大缩小)
.skip {
  animation-duration: 3s;
  animation-name: skip;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
}

@keyframes skip {
  from {
    color: white;
    transform: scale3d(1, 1, 1);
  }

  50% {
    color: main-color;
    transform: scale3d(1.15, 1.15, 1.15);
  }

  to {
    color: white;
    transform: scale3d(1, 1, 1);
  }
}
