.token-con__sub {
  .pie {
    &:before {
      transform: rotate(70deg) scale(.5);
    }
  }
}

.home-desc__autochain, .business-model-autochain {
  li {
    font-size: 10px!important;
  }

  &:before {
    font-size: 14px;
  }
}

.switch-tab-item {
  font-size: 9px;
}

.home-desc__autochain {
  .text-1 {
    margin-top: -5px;
  }

  .text-5 {
    margin-top: -5px;
  }

  .text-2 {
    right: -123px;
  }
}

.business-model-autochain {

  &:before {
    top: 52%;
  }

  .text-1 {
    left: 42%;
  }

  .text-3 {
    right: -172px;
    width: 155px;
    top: 44%;
  }

  .text-5 {
    left: 37%;
  }
}