a {
  outline: 0;
  color: white;
  text-decoration: none;
}

ul {
  padding: 0;
}

ul,
li {
  list-style: none;
}

img {
  display: inline-block;
  width: 100%;
}

p {
  word-break: break-all;
  text-align: justify;
  line-height: 27px;
}
